<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Charlex Web OS</title>
    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>
    <div id="desktop">
        <!-- Windows will be generated dynamically -->
    </div>
    <div id="dock">
        <!-- Dock icons will be generated dynamically -->
    </div>
    <script src="/static/js/window_manager.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>
